#include <zmk/keymap.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U>,
                       <&kp A &kp S &kp D &kp F &kp G &kp H &kp J>,
                       <&kp Z &kp X &kp C &kp V &kp B &kp N &kp M>,
                       <&kp SPACE &kp ENTER &kp TAB &kp ESC &kp BACKSPACE &kp LSHIFT &kp LCTRL>,
                       <&kp LEFT &kp DOWN &kp UP &kp RIGHT &kp LALT &kp RALT &kp LGUI>;
        };
    };
};
